#root {
  text-align: center;
}

.container {
  position: "relative";
  height: "500px";
  width: "100%";
  margin: "auto";
  margin-top: "70px";
}

.chat {
  font-size: 1rem;
}

@media screen and (max-width: 786px) {
  .chat {
    font-size: 14px;
    text-align: left;
  }
}

@media screen and (max-width: 550px) {
  .container {
    height: "600px";
    width: "100%";
    margin-top: "5rem";
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
